{% extends 'base.html' %}
{% load static %}

{% block content %}

    
      <div class="header2">
        <br><br><br>
          <h4>안녕하세요!</h4>
          <img src="{% static 'images/hi.png' width='300px' %}">
          <h4><a class="likelion">멋쟁이 사자처럼</a> 10기 이영서 입니다!</h4>
      </div>
      <div class="basicinfo">
        <br><br><br>

        
        
        <ul class="float">
            <li>생년월일: 2000년 08월 16일</li>
            <li>학번: 20학번 3학년</li>
            <li>학과: 경영정보학과</li>
            <li>거주지: 서울시 강남구</li>
          </ul>
        
      </div>
      

{% endblock %}