{% extends 'base.html' %}
{% load static %}

{% block content %}

      <div class="header2">
        <br><br><br>
          <h4>연락을 원하시면</h4>
          <img src="{% static 'images/call.png' %}" style="width: 300px">
          <h4><br>아래 정보를 참고해주세요!</h4>
      </div>
      <div class="basicinfo">
        <br><br><br>

        
        
        <ul class="float">
            <li>전화번호: 010-2014-6130</li>
            <li>인스타그램: <a href="https://www.instagram.com/o.seo_l/" class="insta" target="_blank"> o.seo_l </a></li>
          </ul>
        
      </div>
      

{% endblock %}