{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--추가한 내용-->
        
          <div class="header2">
            <br><br><br>
              <h4 class="hi">안녕하세요!</h4>
              <h4><a class="likelion">멋쟁이 사자처럼</a> 10기 2주차 과제 입니다!</h4>
              <br><br><br>
              <img src="{% static 'images/likeliondgu.jpg' %}" style="width: 300px;">
          </div>
          <div class="check">
            <br><br><br>
              <p>글로벌 내비게이션 바를 클릭하여 정보를 확인해주세요!</p>
        
          </div>
          
      </div>

      <h2><a href="{%url 'new'%}">글쓰기</a></h2>

      <h1>글 목록</h1>

      <div>
        {% for blog in blogs %}
        <div>
          <h3>{{blog.title}}</h3>
          {{blog.writer}}<br>
          {{blog.summary}}<br>
          <a href="{% url 'detail' blog.id %}">...자세히</a>
        </div>
        {%endfor%}
      </div>

{% endblock %}