{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--추가한 내용-->
        
          <div class="header2">
            <br><br><br>
              <h4 class="hi">안녕하세요!</h4>
              <h4><a class="likelion">멋쟁이 사자처럼</a> 10기 2주차 과제 입니다!</h4>
              <br><br><br>
              <img src="{% static 'images/likeliondgu.jpg' %}" style="width: 300px;">
          </div>
          <div class="check">
            <br><br><br>
              <p>글로벌 내비게이션 바를 클릭하여 정보를 확인해주세요!</p>
        
          </div>
          
      </div>

{% endblock %}